sourceCode/Implementations/MicrosoftPDC/OxiteSite/Web References/RegistrationService/pdc09service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ustechsregister.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ustechsregister.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ustechsregister.com/">
      <s:element name="IsRegistered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRegisteredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRegisteredResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsRegisteredSoapIn">
    <wsdl:part name="parameters" element="tns:IsRegistered" />
  </wsdl:message>
  <wsdl:message name="IsRegisteredSoapOut">
    <wsdl:part name="parameters" element="tns:IsRegisteredResponse" />
  </wsdl:message>
  <wsdl:portType name="PDC09ServiceSoap">
    <wsdl:operation name="IsRegistered">
      <wsdl:input message="tns:IsRegisteredSoapIn" />
      <wsdl:output message="tns:IsRegisteredSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PDC09ServiceSoap" type="tns:PDC09ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRegistered">
      <soap:operation soapAction="http://ustechsregister.com/IsRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PDC09ServiceSoap12" type="tns:PDC09ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRegistered">
      <soap12:operation soapAction="http://ustechsregister.com/IsRegistered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDC09Service">
    <wsdl:port name="PDC09ServiceSoap" binding="tns:PDC09ServiceSoap">
      <soap:address location="https://www.ustechsregister.com/pdc09service/pdc09service.asmx" />
    </wsdl:port>
    <wsdl:port name="PDC09ServiceSoap12" binding="tns:PDC09ServiceSoap12">
      <soap12:address location="https://www.ustechsregister.com/pdc09service/pdc09service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>